.container {
  width: 100;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  /* overflow-x: hidden;
  overflow-y: hidden; */
 
 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  /* padding: 20px 0; */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.breadcrumbs {
  margin-bottom: 40px;
  font-size: 20px;
  color: #666;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 700px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
}

.content {
  display: flex;
  /* justify-content: flex; */
}

/* Sidebar CSS */
.left-section {
  flex: 1;
  max-width: 394px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  max-width: 394px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;

}

.follow-button {
  display: block;
  width: 100%;
  max-width: 394px;
  padding: 10px;
  margin: 10px 0;
  background:linear-gradient(rgba(116, 204, 126, 1), rgba(0, 129, 138, 1));
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}
.inquiry-button{
  display: block;
  width: 100%;
  max-width: 394px;
  padding: 10px;
  margin: 10px 0;
  background: linear-gradient(rgba(116, 204, 126, 1), rgba(0, 129, 138, 1));
  color: #fff;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  margin-top: 40px;

}
.detail {
  margin-top: 40px;
 
}

.titlee{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px; 
  margin-right: 300px;
}

.details  {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
 
  border-spacing: 50px;
  
}

.info .label {
  font-weight: bold;
}

.info .value {
  color: #666;
}


.awards {
  text-align: center;
  margin-right: 170px;
  margin-top: 60px;
  margin-left: 30px;
  
}

.titllee {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-right: 850px;
}

.award-row {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.award {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
  height: 330px;
}

.award img {
  width: 100%;
  height: auto;
}

.description, .des {
  padding: 15px;
  font-size: 16px;
}


.certificate {
  margin-bottom: 20px;
  width: auto;
  margin-left : 30px;
  margin-right: 180px;
  margin-top: 60px;
  margin-bottom: 80px;
  /* background-color: #007bff; */
  
}

.certificate .title {
  font-weight: bold;
font-weight: bold;
font-weight: bold;
  margin-bottom: 20px;
  margin-left : 30px;
  
}

.certificate .award-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.certificate .award {
  width: 300px;
  text-align: center;
}

.certificate .award img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.reviews {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-right: 60px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 900px;
}

.review {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 15px;
  flex-direction: row;
  
}

.user-image {
  margin-right: 20px;
}

.user-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.review-content {
  flex-grow: 1;
  display: flex;
  flex-direction: grid;
  
}

.review-header {
  /* display: flex; */
  /* align-items: normal; */
  width: auto  ;
  /* background-color: #007bff; */

  }

.name {
  font-size: 14px;
  font-weight: bold;
  
  
}

.date {
  color: #888;
  font-size: 12px;
  margin-top: 0px;
}

.review-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  /* background-color: #007bff; */
  margin-right: 600px;
  /* margin-top: 10px; */

}

.rating {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-left: auto;
}

.stars {
  color: gold;
  margin-left: 5px;
}

.descriptionn {
  font-size: 16px;
  line-height: 1.5;
  /* background-color: black; */
 width: 100%;
;
}


.right-section {
  width: 65%;
  
}

.about {
  margin-bottom: 40px;
}

.about .ttitle {
  font-weight: bold;
  margin-bottom: 10px;
  justify-content: center;
  margin-right: 740px  ;
 font-size: 26px;
}

.about .description {
  color: #131111;
  
  margin-right: 50px;
  justify-content: left;
  font-size: 18px;
  line-height: 35px;
  width: 850px;
  margin-left: 1px;
  
}

.more-productss {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
  gap: 10px;
  /* background-color: #007bff; */
}

.more-productss  {
  font-weight: bold;
  margin-bottom: 10px;
  
}
.tittle{
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 700px;
}
/* 
.product-cardd {
  width: 269px;
  height: 350px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-cardd img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-cardd .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-cardd .details {
  color: #666;
}

.product-cardd .details .label {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-cardd .details .value {
  margin-bottom: 5px;
}

.product-cardd .details .price {
  font-weight: bold;
  margin-bottom: 5px;
} */
.productt-card {
  width: 90%;
  height: 330px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* gap: 5px; */
  border-radius: 8px;
  overflow: hidden;
  margin-right: 20px;
}

.productt-card img {
  /* width: 100%; */
  height: 100px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin-bottom: 30px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 1px;
}

.product-info {
  padding: -5px;

  gap: 5px;
}

.brand {
  color: #007bff;
  margin-bottom: 0px;
}

.prototype {
  margin-bottom: 0px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.category,.subcategory {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  font-size: 14px;
  color: #666;
  margin-right: 5px;
}

.value {
  font-size: 14px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #666;
}

.links, .expert, .connect {
  flex: 1;
}

.links .title, .expert .title, .connect .title {
  font-weight: bold;
  margin-bottom: 10px;
}

.links .link, .expert .link {
  margin-bottom: 5px;
  cursor: pointer;
}

.connect .social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.connect .social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.connect .app-store {
  display: flex;
  align-items: center;
}

.connect .app-store a {
  margin-right: 10px;
}

.connect .app-store img {
  width: 100px;
  height: 30px;
  object-fit: cover;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright span {
  margin-right: 10px;
}

.copyright span:last-child {
  margin-right: 0;
}
@media (max-width: 1200px) {
  .breadcrumbs {
    margin-right: 500px;
  }
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-right: 300px;
  }
  .titllee {
    margin-right: 550px;
  }
}

@media (max-width: 768px) {
  .breadcrumbs {
    margin-right: 100px;
  }
  .titllee {
    margin-right: 150px;
  }
  .left-section{
   
    
    height: 630px;
    width: 70%;
    position: relative;
    
  }
  .right-section{
    
    margin-left: 30px;
    position: absolute;
    margin-top: 210%;
  }
}

@media (max-width: 576px) {
  .breadcrumbs {
    margin-right: 50px;
  }
  .titllee {
    margin-right: 50px;
  }
}
@media (max-width: 1200px) {
  .certificate {
    margin-right: 150px;
  }
}

@media (max-width: 992px) {
  .certificate {
    margin-right: 100px;
  }
}

@media (max-width: 768px) {
  .certificate {
    margin-right: 50px;
  }
}

@media (max-width: 576px) {
  .certificate {
    margin-right: 20px;
  }
}
@media (max-width: 1200px) {
  .awards {
    margin-top: 600%;
    margin-right: 100px;
  }
}

@media (max-width: 992px) {
  .awards {
    margin-right: 50px;
  }
  .titllee {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .awards {
    margin-right: 30px;
    margin-left: 10px;
  }
  .titllee {
    font-size: 18px;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .awards {
    margin-right: 10px;
    margin-left: 5px;
  }
  .award {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}
@media (max-width: 1200px) {
  .more-productss {
    margin-right: 10px;
  }
}

@media (max-width: 992px) {
  .more-productss {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .more-productss {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
  }
  .productt-card {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .productt-card {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .reviews {
    padding: 10px;
    margin-right: 0;
    width: 90%;
  }

  .review {
    flex-direction: column;
    align-items: center;
  }

  .user-image {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .review-content {
    text-align: center;
  }

  .review-title {
    margin-right: 0;
  }

  .rating {
    margin-left: 0;
    justify-content: center;
  }

  .descriptionn {
    font-size: 14px;
  }
}

