.header {
  background-color: #fff;
  padding: 10px 20px; /* Reduced padding for a smaller overall height */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1440px;
  height: 80px; /* Set height to a more suitable value */
  margin: 0 auto; /* Center the header */
  font-size: 25px;
}

.logo {
  color: #4CAF50;
  /* background-color: #4CAF50; */
  width: 70px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
  font-size: 24px; /* Ensure the logo text fits well */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Ensure nav items wrap on smaller screens */
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px; /* Adjust font size for better readability */
}

@media (max-width: 1440px) {
  .header {
    padding: 10px;
  }

  .logo {
    width: 80px;
    height: 40px;
    font-size: 20px;
  }

  nav ul {
    gap: 15px;
  }

  nav ul li a {
    font-size: 14px;
  }
}
